a.navbar-brand > img{
    width: 167px;
    height: 100px;
}

.nav-item .active{
    background-color: #000000;
}

a.nav-link.active {
    color: wheat !important;
}

.footer{
    background-color: #000066;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

ul{
    list-style-type: none;
}

ul li{
    display: inline;
}

ul li i{
    color: #ffffff !important;
}

.required label::after{content:" *";color:red}

.login{
    background-color: #000066; color: #ffffff;
}